.Jumbotron {
  text-align: center;
  background-color:rgb(182, 192, 221);
  margin: 30px;
}

.centertext {
  text-align: center;
}

.textdark {
  color: black;
}

em {
  font-style: italic;
  color: aquamarine;
}

.card {
  margin: 10px;
  border: 2px silver;
  background-color: cornflowerblue;
}

.border {
  border: 1px rgb(207, 12, 12);
}

img {
  block-size: 500px;
  margin-bottom: 30pxs;
}

button {
  margin: 30px;
}

.listspace{
  margin-bottom: 15px;
}

.textimportant {
  color: gold;
  font-style: italic;
}

.ghost {
  font-style: italic;
  color: rgba(245, 245, 245, 0.904);
}