.Jumbotron {
  text-align: center;
  background-color:rgb(182, 192, 221);
  margin: 30px;
}

.centertext {
  text-align: center;
}

.textdark {
  color: black;
}



.card {
  margin: 10px;
  background-color: cornflowerblue;
}

img {
  block-size: 500px;
  margin-bottom: 30pxs;
}

button {
  margin: 30px;
}

.listspace{
  margin-bottom: 15px;
}

.textimportant {
  color: gold;
  font-style: italic;
}